.back {
    font-size: 27px;
    margin-left: 106px;
    margin-top: 41px;
    cursor: pointer;
}

.register-container {
    height: 100vh;
    background-color: aqua;
}

.register-box {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    position: relative;
}

.register-container img {
    width: 180px;
    display: block;
    margin: 8px auto;
}

.register {
    width: 400px;
    margin-left: 35px;
}

.register input {
    width: 400px;
    margin-top: 26px;
    height: 40px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
    outline: none;
}

.register h4 {
    padding: 9px 0px;
    font-weight: bold;
}

.register .reg-btn {
    width: 400px;
    margin-top: 24px;
    border: none;
    background: #5656dd;
    color: white;
    padding: 8px 0px;
}