.logo{
    width: 150px;
}

.link{
    margin-right: 20px;
    color:black;
    font-size: 17px;
    text-decoration: none;
}

.register{
    text-decoration: none;
    color: white;
}

.register-btn{
    margin-right: 20px;
    border: none;
    background-color: rgb(206, 100, 13);
    padding:5px ;
    border-radius: 9px;
}

.admin{
    border: none;
    background-color: rgb(5, 3, 44);
    padding:5px ;
    border-radius: 9px;
    color: white;
}